/bin
/bin/
/bin/suncertify
/bin/suncertify/parser
/bin/suncertify/db
/bin/suncertify/db/
/.settings
/logs
/logs/
/logs/log.log
db-2x3-ext-temp.db
db-2x3-ext-temp2.db
db-2x3-ext-temp3.db
/test-output
/docs/javadoc
/docs/javadoc/
/runme
/runme/
/assigment
/assigment/
suncertify.properties
/suncertify.properties
assigment.jar